.Tab {
  text-align: center;
}

.Tab-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Tab-filter-search-section {
  display: flex;
  justify-content: center;
}

.Tab-filter-search-container {
  display: flex;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.Tab-filter {
  flex: 1;
}

.Tab-search {
  flex: 2;
}

.Tab-container {
  margin: 10px;
}
