.Tab {
  text-align: center;
}

.Tab-header {
  background-color: #282c34;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Tab-container {
  margin: 10px;
}
